.homepage {
  background: #05070d;
  font-family: Arial, sans-serif;
  color: #fff;
}

.homehero {
  position: relative;
  height: 90vh;
  width: 100%;

  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;

  transition: background-image 1s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 20px;

  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.homehero h1{margin-top: 10vh;}
.homehero h1,
.homehero h3,
.homehero button {
  position: relative;
  z-index: 2;
  color: gold;
}


.homehero h1{
 padding-top: 5vh;
 text-shadow: 2px 3px 2px rgb(20, 20, 112);
 font-family:Georgia, 'Times New Roman', Times, serif;
 font-size: 80px;
}

.homehero h3 {
  max-width: 800px;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 30px;

padding-top: 8vh;
 font-size: 30px;
 font-family: initial;
 line-height: 1.6;
 text-shadow: 2px 3px 2px rgb(20, 20, 112);
}

.homehero button {
  padding: 14px 30px;
  border: none;
  border-radius: 8px;
  background: burlywood;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.homehero button:hover {
  transform: scale(1.05);
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.homehero button{
    margin: 10px;
}



.support-section {
  width: 100%;
  padding: 50px 20px 70px;
  margin-top: 0vh;
}

.container {
  max-width: 1500px;
  margin: auto;
  text-align: center;
}

.container h1 {
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family:initial;
  text-decoration: underline;
  font-size: 2rem;
  color: #f7b500;
  margin-bottom: 20px;
  line-height: 1.2;
}

.subtitle {
  max-width: 1300px;
  margin: auto;
  font-size: 1.1rem;
  line-height: 1.7;
  /* color: #c8c8c8; */
  margin-bottom: 70px;
}

.container  .subtitle{
  font-family: initial;
  text-align: center;
  width: 54%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
  margin: 5%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.card {
  position: relative;
  background: linear-gradient(145deg, #171717, #111111);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 18px;
  padding: 35px 35px;
  text-align: left;
  height: 40vh;
  min-height: 50px;
  overflow: hidden;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  border-color: rgba(247, 181, 0, 0.4);
  box-shadow: 0 10px 30px rgba(247, 181, 0, 0.12);
}

.step-number {
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: 5rem;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  color: rgba(247, 181, 0, 0.15);
}

.card h2 {
 font-family:initial;
  text-decoration: underline;
  font-size: 1.3rem;
  /* margin:10px; */
  line-height: 1.4;
  color: #f7b500;
  padding: 5px;
  margin-bottom: 35px;
  max-width: 240px;
}

.card p {
  font-size: 1.2rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.8;
  /* margin: 15px; */
  color: #d0d0d0;
}


.idApplication {
  background: #141a10;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.idApplicationContent {
  width: 100%;
  max-width: 900px;
  text-align: center;
}

.idApplicationContent h1 {
  color: #f4b321;
  font-family: initial;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: underline;
  padding-top: 2vh;
  margin-bottom: 25px;
}

.idApplicationContent p {
  color: #fff;
  font-size: 1.3rem;
  font-family: initial;
  text-align: center;
  line-height: 1.8;
  margin-bottom: 40px;
}

.searchContainer {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.searchContainer input {
  flex: 1;
  color: #000;
  border: none;
  outline: none;
  padding: 22px 25px;
  font-size: 1.2rem;
}

.searchContainer button {
  border: none;
  background: white;
  padding: 22px 25px;
  font-size: 1.6rem;
  cursor: pointer;
}

.searchContainer button:hover {
  background: #f5f5f5;
}

@media (max-width: 768px) {
  .idApplicationContent h1 {
    font-size: 2.5rem;
  }

  .idApplicationContent p {
    font-size: 1rem;
  }

  .searchContainer input {
    font-size: 1rem;
    padding: 18px;
  }
}





/* Committed */
.serviceSection {
  background: #071426;
  padding: 60px 5%;
}

.serviceContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.serviceText {
  flex: 1;
}

.serviceText h1 {
  color: #f5b942;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  line-height: 1.1;
  margin-bottom: 20px;
}

.serviceText p {
  color: #d9d9d9;
  font-family: initial;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

.coreValues {
  background: #000;
  border-radius: 15px;
  padding: 30px;
}

.coreValues h2 {
  color: #f5b942;
  margin-bottom: 20px;
  text-decoration: underline;
  text-align: center;
}

.coreValues ul {
  color: white;
  padding-left: 20px;
  font-family: initial;
}

.coreValues li {
  margin-bottom: 15px;
  line-height: 1.7;
  font-size: 1.5px;
}

.serviceImage {
  flex: 1;
}

.serviceImage img {
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);

  /* border-radius: 20px;
  border: 3px solid #f5b942;
  display: block; */
}



.servicesSection {
  padding: 80px 5%;
  background: #151d0f;
}

.Available h1 {
  text-align: center;
  color: #f5b942;
  font-size: 2.5rem;
  font-family: initial;
  text-decoration: underline;
  margin-top: 2vh;
  margin-bottom: 50px;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.serviceCard {
  background: #0f1116;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #232323;
  transition: 0.3s ease;
  margin-bottom: 5vh;
  margin-left: 2%;
  margin-right: 2%;
}

.serviceCard:hover {
  transform: translateY(-8px);
}

.cardImage {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.cardContent {
  padding: 30px;
  text-align: center;
}

.cardContent h2 {
  color: #f5b942;
  font-size: 22px;
  font-family: initial;
  margin-bottom: 20px;
}

.cardContent p {
  color: #d5d5d5;
  font-family: initial;
  line-height: 1.8;
  min-height: 120px;
}

.cardContent button {
  width: 100%;
  padding: 15px;
  background: transparent;
  border: 1px solid #f5b942;
  color: #f5b942;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.cardContent button:hover {
  background: #f5b942;
  color: #000;
}




.supportingSection {
  padding: 20px 5%;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  border: 1px solid rgb(239, 250, 38);
  box-shadow: 4px 4px 5px rgb(30, 30, 31);
  margin-left:6px;
  margin-right: 4px;
}

.supportingSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}

.supportingSection * {
  position: relative;
  z-index: 2;
}

.supportingTitle {
  text-align: center;
  color: #f5b942;
  font-size: 3rem;
  /* margin-bottom: 50px; */
}

.supportingSection h1{
 padding-top: 0%;
 margin-top: 0%;
 text-decoration: underline;
 font-family: initial;
 font-size: 40px;
}

.supportingGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.supportingCard {
  background: rgba(15, 15, 15, 0.9);
  border: 1px solid #333;
  margin-top: 4vh;
  border-radius: 15px;
  padding: 35px;
  min-height: 320px;
}

.supportingCard h2 {
  color: #f5b942;
  font-size: 1.4rem;
  font-family:serif;
  margin-bottom: 25px;
  line-height: 1.3;
}

.supportingCard p {
  color: #cfcfcf;
  line-height: 1.8;
  font-size: 1.05rem;
  font-family: initial;
}




.leaveSection {
  background: #0d0d0d;
  padding: 80px 20px;
}

.leaveContainer {
  max-width: 1200px;
  margin: auto;
  background: #171717;
  border: 1px solid #333;
  border-radius: 15px;
  overflow: hidden;
}

.leaveItem {
  border-bottom: 1px solid #333;
}

.leaveItem:last-child {
  border-bottom: none;
}

.leaveHeader {
  width: 100%;
  background: transparent;
  color: #ffc72c;
  border: none;
  padding: 28px;
  font-size: 22px;
  font-family:monospace;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
}

.leaveContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease, padding .4s ease;
  color: #d0d0d0;
  font-size: 15px;
  font-family: initial;
  line-height: 1.8;
  padding: 0 28px;
}

.leaveContent.active {
  max-height: 250px;
  padding: 0 28px 28px;
}

.arrow {
  transition: .3s;
  font-size: 18px;
}

.arrow.open {
  transform: rotate(180deg);
}




@media (max-width: 1300px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {

  .homehero{
      background-position: center;
  }

  .homehero h1{
    font-size: 40px;
  }

  .container h1 {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card {
    min-height:50vh;
    padding: 40px 25px;
  }

  .card h2 {
    font-size: 1.7rem;
  }

  .card p {
    font-size: 1rem;
  }

  .step-number {
    font-size: 3.5rem;
  }

  @media (max-width: 768px) {
  .serviceContent {
    flex-direction: column;
  }

  .serviceText h1 {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .servicesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .servicesGrid {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 992px) {
  .supportingGrid {
    /* grid-template-columns: 1fr; */
    flex-wrap: wrap;
    display: flex;
  }
}
}



