/* Navbar */
.navbar {
  width: 100%;
  background: #374151;
  border-bottom: 1px solid #eee;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 40px;
  height: 40px;
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
}

.logo-text {
  font-size: 22px;
  font-weight: bold;
}

.logo-text .red {
  color: red;
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color:bisque;
  font-weight: 500;
}

.nav-links a:hover {
  color: red;
}

/* Right section */
.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Button */
.emergency-btn {
  background: linear-gradient(to right, red, darkred);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

/* Notification */
.notification {
  position: relative;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background: red;
  color: white;
  font-size: 10px;
  border-radius: 50%;
  padding: 3px 6px;
}

/* Profile */
.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.profile-text {
  text-align: right;
}

.profile-text p {
  margin: 0;
  font-size: 14px;
}

.profile-text span {
  font-size: 12px;
  color: gray;
}

.avatar {
  width: 35px;
  height: 35px;
  background: linear-gradient(to bottom right, red, orange);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
}

/* Mobile */
.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .emergency-btn {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    border-top: 1px solid #eee;
  }

  .mobile-emergency {
    margin-top: 10px;
    background: red;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
  }
}